<%= render 'layouts/errors', :object => @task %>

<%= form_for [@list, @task] do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <p><%= f.submit :class => "btn btn-primary" %></p>
<% end %>
